.team__page{
    padding: 2rem ;
    padding-top: 1.5rem;
    h1.h1{
        font-family: Inter;
        font-size: 24px;
        font-weight: 700;
        line-height: 29.05px;
        text-align: left;
        text-underline-position: from-font;
        text-decoration-skip-ink: none;
        color: #2B2F32;
        margin-bottom: 2rem;
    }
    .roles-tile-list-wrapper{
        overflow-y: scroll;
        max-height: 600px;

        &::-webkit-scrollbar {
            width: 10px;
          }
          &::-webkit-scrollbar-track {
            border-radius: 10px;
            background: rgba(161, 160, 160, 0.05);
          }
          &::-webkit-scrollbar-thumb {
            border-radius: 20px;
            background: rgba(0, 0, 0, 0.2);
            &:hover {
              border-radius: 10px;
              background: rgba(23, 22, 22, 0.44);
            }
          }

          .roles-grid-ul{
            grid-auto-rows: 1fr; /* Ensure all rows have equal height */
            margin-right: 20px;

        .add__custom_role_button{
            background: #F2F4F5;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            // height: 330px;
            height: auto;

            span{
                font-family: Inter;
                font-size: 20px;
                font-weight: 400;
                line-height: 24.2px;
                text-align: center;
                text-decoration-line: underline;
                text-decoration-style: solid;
                text-underline-position: from-font;
                text-decoration-skip-ink: none;
                color: #33C173;
            }

        }
      }
    }
}


