
@mixin label__styles {
        font-family: Inter;
        font-size: 12px;
        font-weight: 400;
        line-height: 14.52px;
        text-align: left;
        text-underline-position: from-font;
        text-decoration-skip-ink: none;
        color: #5E6366;
}

@mixin btn_span_styles{
    // color: #FFFFFF;
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 19.36px;
    text-align: center;
}

li.role__card-container{
    border: 1px solid #33C173;
    border-radius: 10px;
    // height: 100%;

    .role__header__icons{
        display: flex;
        justify-content: space-between;
        align-items: center;
        h3.role-header{
            font-family: Inter;
            font-size: 12px;
            font-weight: 400;
            line-height: 18px;
            letter-spacing: -0.0008em;
            text-align: left;
            text-underline-position: from-font;
            text-decoration-skip-ink: none;
            color:  #808285;
            align-self: flex-start;   
            margin-left: 12px; 
            margin-top: 20px;   
        }

        .control__icons{
            align-self: flex-end;
            margin-right: 1rem;   
            button.edit-icon{
                margin-right: .5rem;  
                &:hover{
                    transform: scale(1.2);
                    transition: .2s ease;
                }
            }
        }

    }
   
    .role-category{
        .role__icon{
            // width: 40px;
            margin-bottom: 1.5rem;

        }
        .admin__text{
            color: #2B2F32;
            font-family: Inter;
            font-size: 22px;
            font-weight: 700;
            line-height: 22px;
            letter-spacing: -0.0041em;
            text-align: center;
            text-underline-position: from-font;
            text-decoration-skip-ink: none;    
        }
        .users_wrapper{
            margin-top: 2rem ;

           .users_wrapper-inner{
            margin-bottom: .85rem ;
                img{
                    margin-right: 5px;
                   
                }
                .users_assigned{
                    font-family: Inter;
                    font-size: 18px;
                    font-weight: 700;
                    line-height: 18px;
                    letter-spacing: -0.0008em;
                    text-align: left;
                    text-underline-position: from-font;
                    text-decoration-skip-ink: none;
                    color: #808285;
                }
           }

           p{
            color: #808285;
            font-family: Inter;
            font-size: 16px;
            font-weight: 400;
            line-height: 18px;
            letter-spacing: -0.0008em;
            text-align: left;
            text-underline-position: from-font;
            text-decoration-skip-ink: none;
            margin-bottom: 3rem;

           }
        }
        button.use__as{
            margin-bottom: 3rem;

            span{
            color: #33C173;
            font-family: Inter;
            font-size: 20px;
            font-weight: 400;
            line-height: 24.2px;
            text-align: center;
            text-decoration-line: underline;
            text-decoration-style: solid;
            text-underline-position: from-font;
            text-decoration-skip-ink: none;
            }
        }
    }
}

.role-form-container{

    .custom-role-name{
        label{
            @include label__styles();
        }
        input{
            width: 375px;
            top: 185px;
            left: 132px;
            height: 52px;
            gap: 0px;
            opacity: 0px;
            margin-left: 2px;
            padding-left: 20px;
            letter-spacing: .1rem;
            border: 1px solid rgba(207, 211, 212, 0.5);

            &::placeholder{
                color: #ABAFB1;
                font-family: 'Inter';
                font-size: 16px;
                font-weight: 400;
                line-height: 19.36px;
                text-align: left;
                padding-left: 20px;
                letter-spacing: 0;
            }
            &:focus{
                outline: 0;
                border: 1px solid rgba(207, 211, 212, 1) !important;
            }
            &:hover{
                border: 1px solid rgba(207, 211, 212, 0.5);
                box-shadow: rgba(0, 0, 0, 0.02) 0px 0px 0px 1px;    
            }
            &.input__error{
                border: 1px solid #F57E77;
            }
        }
        .role__name_error{
            font-family: 'Inter';
            font-size: 14px;
            font-weight: 400;
            line-height: 16.94px;
             color: #F57E77;
             margin-top: 10px;
             margin-left: 2px;
        }
    }
    .role-icons-container{
        margin-left: 2px;
        margin-top: 2.5rem !important;
        
        label{
            @include label__styles();

        }
        .role-icons-inner{
            .single__icon{
                position: relative;
                right: 8px;
            }
        }
    }
    h2{
        color: #2B2F32;
        font-family: Inter;
        font-size: 22px;
        font-weight: 700;
        line-height: 22px;
        margin-bottom: 1.5rem;
        margin-left: 2px;
        margin-top: 3rem !important;

    }

    .permissions-container{
        margin-left: 2px;
        max-width: 96%;
        .permissions-inner{
                display: flex;
                flex-direction: column;
                gap: .6rem;
                label.perm__label{
                @include label__styles();
            } 
            .permission-selector-container{
                .none__button,.view__button,.edit__button{
                    // width: 133.33px;
                    width: 8.68vw;
                    height: 39px;
                    // border: 1px solid red;
                    span{
                      @include btn_span_styles();
                    }
                   
                }
                .none__button{
                    &.none__active-button-class{
                        background: #33C173;
                        border-top-left-radius: 8px;
                        border-bottom-left-radius: 8px;

                        span{
                            color: #FFFFFF;
                        }
                    }
                    &.none__inactive-button-class{
                        background: #EEF3F5 !important;
                        span{
                            color: #ABAFB1;
                        }
                    }
                }
                .view__button{
                    &.view__active-button-class{
                        background: #33C173;
                        span{
                            color: #FFFFFF;
                        }
                    }
                    &.view__inactive-button-class{
                        background: #EEF3F5 !important;
                        span{
                            color: #ABAFB1;
                        }
                    }
                }
                .edit__button{
                    border-top-right-radius: 8px;
                    border-bottom-right-radius: 8px;

                    &.edit__active-button-class{
                        background: #33C173;
                        span{
                            color: #FFFFFF;
                        }
                    }
                    &.edit__inactive-button-class{
                        background: #EEF3F5 !important;
                        span{
                            color: #ABAFB1;
                        }
                    }
                }
            }
            .permission__toggle{
                .yes__btn,.no__btn {
                    // width: 200px;
                    width: 13.02vw;
                    height: 39px;

                    span{
                        @include btn_span_styles();
                    }
                }

                .yes__btn{
                    border-top-right-radius: 8px;
                    border-bottom-right-radius: 8px;

                    &.yes__active-button-class{
                        background: #33C173;
                        span{
                            color: #FFFFFF;
                        }
                    }
                    &.yes__inactive-button-class{
                        background: #EEF3F5 !important;
                        span{
                            color: #ABAFB1;
                        }
                    }
                }

                .no__btn{
                    border-top-left-radius: 8px;
                    border-bottom-left-radius: 8px;

                    &.no__active-button-class{
                        background: #33C173;
                        span{
                            color: #FFFFFF;
                        }
                    }
                    &.no__inactive-button-class{
                        background: #EEF3F5 !important;
                        span{
                            color: #ABAFB1;
                        }
                    }
                }
            }
           

        }
        
        @media only screen and (min-width: 1300px) and (max-width: 1400px) {
            // PermissionToggle and PermissionSelector buttons
            button:not(.yes__btn):not(.no__btn) {
                width: 120px !important;
            }
            button{
                &.yes__btn,&.no__btn{
                    width: 180px !important;
                }
            }
        }

        @media only screen and (min-width: 1200px) and (max-width: 1300px) {
            button:not(.yes__btn):not(.no__btn) {
                width: 105px !important;
            }
            button{
                &.yes__btn,&.no__btn{
                    width: 157.5px !important;
                }
            }
    }
      
        @media only screen and (min-width: 1000px) and (max-width: 1200px) {
            
            button:not(.yes__btn):not(.no__btn) {
                width: 83px !important;
            }
            button{
                &.yes__btn,&.no__btn{
                    width: 124.5px !important;
                }
            }
    }
    }
 
    .role-control-buttons{
        margin-top: 5rem !important;
        margin-bottom: 6rem !important;

        .cancel__btn,.save__btn{
            width: 375px;
            height: 58px;
            border-radius: 8px;
        }

        .cancel__btn {
            background: #EEF3F5 !important;
            margin-right: 30px;
                span{
                    color: #5E6366;
                }
        }
        .save__btn {
            background: #33C173;
            span{
                color: #FFFFFF;
            }
            
        }
    }
}

.spinner {
    border-top-color: transparent;
    border-radius: 50%;
    border-width: 4px;
    width: 64px;
    height: 64px;
    animation: spin 1s linear infinite;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  

  .modal-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    .modal-content {
        background-color: white;
        padding: 20px 60px;
        border-radius: 8px;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        text-align: center;
        h4{
            @include label__styles();
            font-size: 20px;
            margin-bottom: 30px;
            margin-top: 18px;
            color: rgb(186, 15, 15) ;
            font-weight: bold;

        }
        button {
            margin: 10px;
            padding: 10px 20px;
            border: none;
            cursor: pointer;
            border-radius: 5px;
            span{
                @include btn_span_styles();
                    color: #FFFFFF;

            }
            
            &.delete__btn{
                background-color: rgba(224, 69, 69,0.5) ;
                &:hover{
                    background-color: rgba(224, 69, 69,1) ;
                }
            }
            &.cancel__btn{
                background-color: rgba(171, 175, 177,0.5) ;

                &:hover{
                    background-color: rgba(171, 175, 177,1) ;

                }
            }
        }
    }
  }
